html, body {
    background-color: #f0f0f0;
}

.e-text-primary,
p, span, div,
pre, code,
html, body
{
    font-family: apple-system,BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.e-text-secondary,
h1, h2, h3, h4, h5, h6,
blockquote
/* #post h1, #post h2, #post h3, #post h4, #post h5, #post h6, */
{
    font-family: 'Quicksand', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.e-text-banner {
    font-size: 10rem;
}

.e-text-banner-small {
    font-size: 5rem;
}

.e-text-banner-smaller {
    font-size: 3rem;
}

.e-text-light {
    color: #f0f0f0;
}

.e-background-dark {
    background-color: #252525;
}

.e-red {
    color: #ea193a;
}

.e-button-menu {
    background-color: rgba(163, 163, 163, 0.3);
    border: none;
}

.e-list-link {
    font-size: 1.5rem;
}


.e-list-border {
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
}

.e-card {
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
}

.e-padding-xsmall {
    padding: .2rem;
}

.e-margin-xsmall {
    margin: .2rem;
}

.e-display-inline-block {
    display: inline-block !important;
}

.e-justify-distribute,
.e-justify-distribute p {
    text-justify: distribute !important;
}